%p I'm writing some JS for my #{link_to 'Code Sydney', 'http://codesydney.com/'} study group. You can see my answers to the homework problems here.

%ul
  %li
    Week 1 - Calculator
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/on-screen-calculator'}
      %li #{link_to 'Demo', '/code-sydney-work/week-1/calculator'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/week-1/calculator'}

  %li
    Week 2 - Tabs
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/manipulating-the-dom-with-jquery'}
      %li #{link_to 'Demo', '/code-sydney-work/week-2/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/week-2/'}

  %li
    Week 3 - Snake
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/jquery-and-the-dom'}
      %li #{link_to 'Demo', '/code-sydney-work/week-3/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/week-3/'}