%p I'm writing some JS for my #{link_to 'Code Sydney', 'http://codesydney.com/'} study group. You can see my answers to the homework problems here.

%ul
  %li
    Calculator
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/on-screen-calculator'}
      %li #{link_to 'Demo', '/code-sydney-work/calculator/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/calculator'}

  %li
    Tabs
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/manipulating-the-dom-with-jquery'}
      %li #{link_to 'Demo', '/code-sydney-work/tabs/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/tabs/'}

  %li
    Snake
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/jquery-and-the-dom'}
      %li #{link_to 'Demo', '/code-sydney-work/snake/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/snake'}

  %li
    Tic Tac Toe
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/web-development-101#section-the-front-end'}
      %li #{link_to 'Demo', '/code-sydney-work/tic-tac-toe/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/tic-tac-toe/'}

  %li
    Minesweeper
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/minesweeper'}
      %li #{link_to 'Demo', '/code-sydney-work/minesweeper/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/minesweeper/'}

  %li
    Missile Command
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/building-games-with-canvas'}
      %li #{link_to 'Demo', '/code-sydney-work/missile-command/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/missile-command/'}

  %li
    Form Validation
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/validating-a-form-with-jquery'}
      %li #{link_to 'Demo', '/code-sydney-work/form-validation/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/form-validation/'}

  %li
    Google Maps
    %ul
      %li #{link_to 'Directions', 'http://www.theodinproject.com/javascript-and-jquery/putting-google-maps-onto-your-site'}
      %li #{link_to 'Demo', '/code-sydney-work/google-maps/'}
      %li #{link_to 'Code', 'https://github.com/lbain/code-sydney-work/tree/master/google-maps/'}
